{% assign white_wines_tags = "anjou-blanc,blanc,blanc-sec-fruite-et-nerveux,blanc-sec-fruite-et-souple,blanc-sec-riche-et-rond,blanc-sec-riche-et-structure,bordeaux-blanc,bourgogne-hautes-cotes-de-beaune-blanc,brezeme-blanc,bugey-blanc,carignan-blanc,chenin-blanc,cheverny-blanc,clairette-blanche,cotes-de-provence-blanc,dona-blanca,folle-blanche,forcallat-blanc,gaillac-blanc-sec,gamay-noir-a-jus-blanc,grenache-blanc,ladoix-blanc,limoux-blanc,macon-blanc,mauzac-blanc,mondeuse-blanche,ondenc-blanc,pinot-blanc,piquepoul-blanc,sauvignon-blanc,semillon-blanc,tempranillo-blanc,terret-blanc,ugni-blanc" | split: "," %}
{% assign red_wines_tags = "anjou-rouge,bordeaux-rouge,bourgogne-hautes-cotes-de-beaune-rouge,bourgogne-passetoutgrain-rouge,bugey-rouge,cheverny-rouge,cotes-de-provence-rouge,gaillac-rouge,ladoix-rouge-1er-cru,limoux-rouge,macon-rouge,melon-a-queue-rouge,rouge-elegant-et-raffine,rouge-peu-tannique-et-fruite,rouge-puissant-et-fruite,rouge-rond-et-fruite,rouge-rond-et-riche,rouge-structure-et-tannique" | split: "," %}
{% assign pink_wine_tags = "bordeaux-rose,cabernet-danjou-rose-moelleux,clairette-rose,cotes-de-provence-rose,prosecco,roses-doux,savagnin-rose,vins-roses,vins-roses-effervescents,vins-roses-sec" | split: "," %}
{% assign orange_wine_tags = "vins-oranges" %}
{% assign sweet_wine_tags = "vins-doux" %}

{% for orange_tag in orange_wine_tags %}
  {% if product.tags contains orange_tag %}
    {% assign orange = true %}
  {% endif %}
{% endfor %}

{% for sweet_tag in sweet_wine_tags %}
  {% if product.tags contains sweet_tag %}
    {% assign sweet = true %}
  {% endif %}
{% endfor %}

{% for red_tag in red_wines_tags %}
  {% if product.tags contains red_tag %}
    {% assign red = true %}
  {% endif %}
{% endfor %}

{% for white_tag in white_wines_tags %}
  {% if product.tags contains white_tag %}
    {% assign white = true %}
  {% endif %}
{% endfor %}

{% for pink_tag in pink_wine_tags %}
  {% if product.tags contains pink_tag %}
    {% assign pink = true %}
  {% endif %}
{% endfor %}


<div class="main-product-card bg-white rounded-md pt-2 pb-4 px-4 lg:pb-5 lg:px-5">
  <!-- product title -->
   <div class="flex justify-between">
      <div class="flex gap-1 relative min-h-[80px] items-center">
        <h1 class="font-body-text text-[20px] leading-[24px] md:text-[28px] md:leading-[33px] font-bold line-clamp-2 tracking-tight">
          {{ product.title }}
        </h1>
        {%- if rouge -%}
          <div class="relative ml-1">
            {% render 'icon-drop-red' %}
          </div>
        {%- elsif white -%}
          <div class="relative ml-1">
            {% render 'icon-drop-yellow' %}
          </div>
        {%- elsif pink -%}
          <div class="relative ml-1">
            {% render 'icon-drop-pink' %}
          </div>
        {%- endif -%}
      </div>
     <wishlist-button data-product-handle="{{ product.handle }}" layout="icon-and-text" alignment="left" fullwidth="">
      <wk-button>
         <button type="button" aria-label="Add to Wishlist" class="wk-button wk-align-left wk-full-width">
           <wk-icon class="wk-icon" icon="wishlist">
          <svg viewBox="0 0 64 64">
            <path d="M32.012,59.616c-1.119-.521-2.365-1.141-3.707-1.859a79.264,79.264,0,0,1-11.694-7.614C6.316,42,.266,32.6.254,22.076,0.244,12.358,7.871,4.506,17.232,4.5a16.661,16.661,0,0,1,11.891,4.99l2.837,2.889,2.827-2.9a16.639,16.639,0,0,1,11.874-5.02h0c9.368-.01,17.008,7.815,17.021,17.539,0.015,10.533-6.022,19.96-16.312,28.128a79.314,79.314,0,0,1-11.661,7.63C34.369,58.472,33.127,59.094,32.012,59.616Z"></path>
          </svg>
        </wk-icon>
       </button>
    </wk-button>
   </wishlist-button>
  </div>

  <div class="flex md:items-center justify-between">
    <div class="w-7/12 text-left">
      <!-- Avis -->
      <!-- <div class="min-h-[15px] max-w-[100px] md:max-w-none">
        <img src="https://cdn.shopify.com/s/files/1/0682/9126/4826/files/Frame_574.png?v=1670359326" alt="">
      </div>-->

      <!-- Metafield producer -->
      {% if product.metafields.global.marque != blank %}
        {% if product.metafields.global.marque contains "Domaine" %}
          yes
           {% assign marque_link = product.metafields.global.marque | downcase | replace: '(', '-' | replace: ')', '' | replace: ' ', '' | replace: '--', '-' | prepend: '/collections/'%}
         {% else %}
        {% endif %}
        

        <div class="mt-2 md:mt-5">
          <p class="text-xs uppercase font-light">PRODUCTEUR</p>
          <p class="text-base line-clamp-2 font-normal">
            {{ product.metafields.global.marque }}
          </p>
          <a href="{{ marque_link }}" target="_blank">link</a>
        </div>
      {% endif %}
      
      {% comment %}
        {% assign countries = "espagne,autriche,argentine,italie,allemagne,grece,croatie,japon,portugal,zelande,etats-unis" | split: "," %}
      {% endcomment %}
      {% assign countries = settings.countries | split: "," %}
      {% assign cepages = settings.cepages | split: "," %}
      {% assign regions = settings.regions | split: "," %}
      {% for country in countries %}
        {% if product.tags contains country %}
          {% assign country = true %}
        {% endif %}
      {% endfor %}

      {% for cepage in cepages %}
        {% assign cepage_down = cepage | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "ô", "o" %}
        {% if product.tags contains cepage_down %}
          {% assign isCepage = true %}
        {% endif %}
      {% endfor %}

      {% for region in regions %}
        {% assign region_down = region | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "ô", "o" %}
        {% if product.tags contains region_down %}
          {% assign isRegion = true %}
        {% endif %}
      {% endfor %}


   
        {% if isRegion %}
          <div class="mt-4">
            <p class="text-xs uppercase font-light">RÉGION</p>
            {% comment %} <p class="text-base line-clamp-1">
              {% render 'tags-regions' product: product %}
            </p> {% endcomment %}
            <ul class="flex gap-1">
              {% for region in regions %}
                {% assign region_down = region | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "ô", "o" %}
                {% if product.tags contains region_down %}
                  <p class="text-base line-clamp-1 capitalize font-normal">{{ region_down }}</p>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% else %}  
          <div class="mt-4">
            <p class="text-xs uppercase font-light">RÉGION</p>
            {% comment %} <p class="text-base line-clamp-1">
              {% render 'tags-regions' product: product %}
            </p> {% endcomment %}
            <p class="text-base font-normal">
               N/A
            </p>
          </div>
        {% endif %}
     

      <!-- Cepage -->
      {% if isCepage %}
        <div class="mt-4">
          <p class="text-xs uppercase font-light">CÉPAGE</p>
          {% comment %} <p class="text-base line-clamp-1 capitalize">
            {% render 'tags-cepage' product: product %}
          </p> {% endcomment %}
          <ul class="flex gap-1 flex-col mt-1">
            {% for cepage in cepages %}
              {% assign cepage_down = cepage | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "ô", "o" %}
              {% if product.tags contains cepage_down %}
                <p class="text-base line-clamp-1 capitalize font-normal">{{ cepage_down }}</p>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}


      <!-- Metafield style -->
      <div class="mt-4">
        <p class="text-xs uppercase font-light">Pays</p>
        <p class="text-base line-clamp-1 capitalize font-normal">
          {% render 'tags-countries' product: product %}
        </p>
        {%- comment -%} <p class="my-2 text-base line-clamp-1 max-h-[32px]">{{ product.metafields.product.style }}</p> {%- endcomment -%}
      </div>
    </div>

    <!-- product image -->
    <div class="w-5/12 relative group">
      {%- if product.featured_media -%}
        <tail-carousel
          class="relative max-w-[160px] float-right"
          slidesToShow="md:1"
          data-auto-dots="false">
          <carousel-container>
            <carousel-content>

              {% comment %} {%- for media in product.media -%}
                {% assign position = forloop.index %}
                {% assign image_id = "myImg" | append: position  %}
                <carousel-panel  class="p-0 max-w-[160px] md:max-h-[630px] 2xl:max-h-[800px] object-center">
                {% render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants, class: 'object-top object-cover', id: image_id %}
                </carousel-panel>
              {% endfor %} {% endcomment %}
              {%- for media in product.media -%}
                {%- if media.media_type == 'image' -%}
                  <carousel-panel id="myImg{{ forloop.index }}" class="cursor-pointer">
                    <img
                      src="{{ media | image_url }}"
                      alt="{{ media.alt }}"
                      class="myImg">
                  </carousel-panel>
                {% endif %}
              {% endfor %}

            </carousel-content>
          </carousel-container>
          {% if show_dots and product.media.size > 1 %}
            <carousel-dots
              class="relative flex justify-center items-center mt-3">
              {%- for media in product.media -%}
                <carousel-dot class="w-[8px] h-[8px] m-1 transition-all bg-transparent border rounded-full border-black selected:bg-black selected:border-black selected:w-[12px] selected:h-[12px]"></carousel-dot>
              {%- endfor -%}
            </carousel-dots>
          {% endif %}
          {% if section.settings.show_zoom %}
            <div id="icon-magnifying" class="absolute right-0 bottom-0 cursor-pointer rounded-md border border-gray-300 p-1">
              {% render 'icon-magnifying-glass' %}
            </div>
          {% endif %}
        </tail-carousel>
      {% endif %}

    </div>
  </div>


  <!-- Product carousel modal -->
  <div id="myModal" class="product-modal">
    <div class="block w-11/12 max-w-lg mx-auto">
      <span class="close relative text-right text-4xl text-white flex justify-end cursor-pointer">&times;</span>
      <div class="relative bg-white">
        {%- for media in product.media -%}
          {%- if media.media_type == 'image' -%}
            <img
              class="mediaProductSlides hidden max-w-[350px] mx-auto"
              src="{{ media | image_url }}"
              style="width:100%"
              loading="lazy">
          {% endif %}
        {% endfor %}
        {% if product.media.size > 1 %}
          <a class="prev" onclick="plusSlides(-1)">{% render 'icon-arrow-left' %}</a>
          <a class="next" onclick="plusSlides(1)">{% render 'icon-arrow-right' %}</a>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- price mobile -->
  <div
    class="md:hidden flex items-center mt-4"
    id="price-{{ section.id }}"
    role="status"
    {{ block.shopify_attributes }}>
    {%- if product.compare_at_price > product.price -%}
      <span class="block text-[20px] font-extrabold accent">{{ product.price | money }}</span>
      <span class="ml-2 text-base font-light line-through">{{ product.compare_at_price | money }}</span>
    {% else %}
      <span class="block text-xl font-extrabold tracking-tight">{{ product.price | money }}</span>
    {% endif %}
    <span class="block text-xs font-bold ml-3 tracking-tight">Prix par bouteille 75 cl</span>
  </div>
</div>

<script>
  // gpt click and modal

  const modal = document.getElementById("myModal");

  var images = document.getElementsByClassName("myImg");
  var lupa = document.getElementById("icon-magnifying");
  var body = document.querySelector('body');

  for (var i = 0; i < images.length; i++) {
    var img = images[i];
    var modalImg = document.getElementsByClassName("mySlides")[i];
    lupa.onclick = function() {
      modal.style.display = "flex";
      body.style.overflow = 'hidden';
    }
  }

  var closeModal = document.getElementsByClassName("close")[0];

  closeModal.onclick = function() {
    modal.style.display = "none";
    body.style.overflow = 'auto';
  }

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
      body.style.overflow = 'auto';
    }
  }

  var product_slides = `{{ product.media.size }}`

  // Carousel Functions
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mediaProductSlides");
    if (n > slides.length) {
      slideIndex = 1
    }
    if (n < 1) {
      slideIndex = slides.length
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slides[slideIndex - 1].style.display = "block";
  }
</script>


<style>

  .product-modal {
    display: none;
    position: fixed;
    z-index: 1;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
  }


  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
</style>